
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Chivo', sans-serif;
    background-image: url(./assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2C344B;
    background-blend-mode: multiply;
    color: white;
}

.container {
    margin: 0 auto;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin-top: 2rem;
}

.publish {
    color: #54E6AF;
}

h1 {
    font-size: 26px;
    font-weight: normal;
    line-height: 38px;
    text-align: center;
    margin-bottom: 1rem;
}

.description p {
    color: #C2CBE5;
    font-size: 15px;
    line-height: 25px;
    font-weight: normal;
    text-align: center;
}

.podcasts {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.spotify {
    width: 60px;
    height: 20px;
}

.apple {
    width: 60px;
    height: 20px;
}

.google {
    width: 80px;
    height: 20px;
}

.pocket {
    width: 80px;
    height: 20px;
}

a {
    text-decoration: none;
    color: #54E6AF;
}

.paminos {
    color: tomato;
    font-weight: 600;
}

footer {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #C2CBE5;
}
